/* CONTACTO */
.pointer {
    display: flex;
    justify-content: center;
    margin: 60px 20px;
}

.contacto {
    display: flex;
    justify-content: center;
    margin: 30px 20vw;
    border: 0px solid white;
    width: 60vw
}

.volver {
    display: flex;
    text-align: left;
    margin: 10px 920px;
    color: #1aecad79;
    border: 0px solid white;
    border-radius: 40px;
}